<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Moedas <small>( Manage coins for player
      )</small></h6>

  <div class="text-muted pt-3">
    <form id="form-item-panel" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <div class="form-row">
        <div class="row">
          <div class="form-group col-md-6">
            <input maxlength="4" [(ngModel)]="vpQuantity.vcPoint" class="form-control" type="text" name="vp" id="vp" value="" placeholder="( VP )">
          </div>
          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary" (click)="sendVPUser(f)">Enviar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <input maxlength="4" class="form-control" type="text" name="gp" id="gp" value="" placeholder="( GP )">
          </div>
          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group col-md-4">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            </div>
          </div>
        </div>


      </div>
    </form>
