

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Adicionar item ao jogador<small> ( Add item for this player
      )</small></h6>
  <div class="text-muted pt-3">

    <!-- <div class="form-group col-md-6">
      <h6>Pesquisar jogador por login</h6>
      <form id="form-detail-user" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <div class="form-row">
          <div class="form-group col-md-4">

            <input type="text" [(ngModel)]="user.login" id="loginInput" name="loginInput" #model="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
              placeholder="Login do jogador">
            <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
              <div *ngIf="model.errors.required">Login é obrigatório</div>
            </div>

          </div>
          <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary" (click)="findUserByLogin(f)">Pesquisar</button>
          </div>

          <div class="form-row col-md-8">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td><strong>UID</strong></td>
                  <td>{{user.loginUID}}</td>
                </tr>
                <tr>
                  <td><strong>Login</strong></td>
                  <td>{{user.login}}</td>
                </tr>
                <tr>
                  <td><strong>Atividade</strong></td>
                  <td>{{user.connecting}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div> -->



      <form id="form-item-panel" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

        <div class="form-row">
          <div class="form-group col-md-2">
            <!-- <input [disabled]="cbVariousItems.checked" [(ngModel)]="item.itemID" type="number" class="form-control" id="itemInput" name="itemInput"
              placeholder="ID Item"> -->
            <!-- <div class="form-group">
              <div class="form-check">
                <input #cbVariousItems ngModel class="form-check-input" type="checkbox" id="cbIsEquipment">
                <label checked class="form-check-label" for="gridCheck">
                  Inserir prop. e carta <small>( properties and cards )</small>
                </label>
              </div>
            </div> -->
            <div class="form-row">
              <div class="form-group col-md-12">
                <!-- <textarea [(ngModel)]="textAreaItems"  (ngModelChange)="parseTextArea()" [disabled]="!cbVariousItems.checked" class="form-control" id="taVariousItems" name="taVariousItems"></textarea> -->
                <textarea placeholder="Items (List of items)" [(ngModel)]="textAreaItems"
                  (ngModelChange)="parseTextArea()" class="form-control" id="taVariousItems"
                  name="taVariousItems"></textarea>

                <div class="form-group">
                  <div class="form-check">
                    <input [checked]="cbIsEquipment === true" (change)="toggleIsEquipment($event)"
                      class="form-check-input" type="checkbox" id="cbIsEquipment" name="cbIsEquipment">
                    <label class="form-check-label" for="gridCheck">
                      Equipamento
                    </label>
                  </div>

                  <div *ngIf="cbIsEquipment === true">
                    <div class="form-check">
                      <input [checked]="cbIsAccessory === true" (change)="toggleIsAcessory($event)"
                        class="form-check-input" type="checkbox" id="cbIsAccessory" name="cbIsAccessory">
                      <label class="form-check-label" for="gridCheck">
                        Acessório
                      </label>
                    </div>
                  </div>
                </div>
                <small>Example:</small>
                <br />
                <small>16030</small>
                <br />
                <small>16040</small>
              </div>
            </div>
          </div>

          <fieldset class="form-group">
            <div class="row">
              <div class="col-sm-10">
                <div class="form-check">
                  <input [(ngModel)]="rbStack" class="form-check-input" type="radio" name="gridRadios"
                    id="radioStackNormal" value="normal" checked>
                  <label class="form-check-label" for="radioStackNormal">
                    Normal
                  </label>
                </div>
                <div class="form-check">
                  <input [(ngModel)]="rbStack" class="form-check-input" type="radio" name="gridRadios"
                    id="radioStackAmount" value="carga">
                  <label class="form-check-label" for="radioStackAmount">
                    Carga <small> ( Stack ) </small>
                  </label>
                </div>
                <hr>
                <div class="col-7">
                  <input [(ngModel)]="amountStackInput" [disabled]="rbStack != 'carga'" class="form-control"
                    [(ngModel)]="itemFromPanel.amountStack" type="text" name="inputStackAmount" id="inputStackAmount"
                    maxlength="3" value="" placeholder="( qt )">
                </div>
              </div>
            </div>
          </fieldset>



          <fieldset class="form-group">
            <div class="row">
              <div class="col-sm-10">
                <div class="form-check">
                  <input [(ngModel)]="rbTemporary" class="form-check-input" type="radio" name="gridRadios2"
                    id="radioPermItem" value="perma" checked>
                  <label class="form-check-label" for="radioPermItem">
                    Permanente <small> ( Permanent ) </small>
                  </label>
                </div>
                <div class="form-check">
                  <input [(ngModel)]="rbTemporary" class="form-check-input" type="radio" name="gridRadios2"
                    id="radioTempItem" value="temporary">
                  <label class="form-check-label" for="radioTempItem">
                    Temporário <small> ( Temporary ) </small>
                  </label>
                </div>
                <hr>
                <div class="col-7">
                  <input [(ngModel)]="timeItemInput" [disabled]="rbTemporary != 'temporary'" class="form-control"
                  maxlength="3" type="text" name="qtd" id="gridRadios1" value="" placeholder="( days )">
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group col-md-2">
            <select [(ngModel)]="item.gradeID" class="form-control custom-select" id="raritySelector"
              name="raritySelector">
              <option *ngFor="let rarity of optionsRarity" [value]="rarity.value">
                {{rarity.name}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <h6>( Em Manutenção )</h6>
            <select disabled [(ngModel)]="itemFromPanel.levelStrength"
              class="form-control custom-select" id="strengthSelector" name="strengthSelector">
            <!-- <select [disabled]="rbStack != 'normal'" [(ngModel)]="itemFromPanel.levelStrength"
              class="form-control custom-select" id="strengthSelector" name="strengthSelector"> -->
              <option *ngFor="let level of optionsStrength" [value]="level.value">
                {{level.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-4">
          <button type="submit" (click)='newItemFromPanel(f)' class="btn btn-primary">Enviar</button>
        </div>


      </form>

