<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Grand Chase Panel - By Haruhashi</title>

  <!-- Principal CSS do Bootstrap -->
  <!-- <link href="../dist/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Estilos customizados para esse template -->
  <link href="offcanvas.css" rel="stylesheet">
</head>

<body class="bg-white">

  <div>
    <app-nav-bar *ngIf="showNavBar() === true"></app-nav-bar>
    <div class="container">
    <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Principal JavaScript do Bootstrap
    ================================================== -->
  <!-- Foi colocado no final para a página carregar mais rápido -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../assets/js/vendor/popper.min.js"></script>
  <script src="../dist/js/bootstrap.min.js"></script>
  <script src="../assets/js/vendor/holder.min.js"></script>
  <script src="offcanvas.js"></script>
</body>

</html>

<ng2-toasty></ng2-toasty>
